body
    background-color: #f6f6f6
    margin 0px

.mtop16
    margin-top: 16px

.box
    background-color #ffffff
    border-radius: 8px
    border 1px solid #d6d6d6
    position: absolute
    width 500px
    .btn-success
        width: 100%
    .btn-primary
        width: 100%
    .btn-secondary
        width: 100%
    .inside
        padding 16px
    .header
        a
            img
                display: block
                margin: 0px auto
    .footer
        text-align center
        a
            display inline-block
.box_login
    left calc(50% - 250px)
    top calc(50% - 176px)
.box_register
    left calc(50% - 250px)
    top calc(50% - 200)

